{% extends 'base.html.twig' %}

{% block metatitle %}Accueil | Reflet d'ambiance{% endblock metatitle %}

{% block body %}
    <div class="container">
        <img class="background-image" src="{{ asset('assets/image/fond_accueil.jpg') }}" alt="logo.accueil">
        <h2 id="round_title">Reflet d'ambiance</h2>
    </div>

    <div class="container">
        <div class="card presentation-card">
            <div class="image-container">
                <img class="image-ronde" src="{{ asset('assets/image/oceane.jpg') }}" alt="Océane">
            </div>
            <div class="text-container">
                <h2 class="card-title">Présentation</h2>
                <p>
                    Je suis Océane VITRAC-MULLER,<br>
                    décoratrice d'intérieur spécialisée dans la création d'intérieur en 3D.
                    Vous achetez sur plan ? Vous faites construire ou vous avez tout simplement envie de changer la décoration de votre intérieur ?
                    De la planche d'ambiance à l'agencement, en passant par la shopping list, je suis là pour vous aider à vous projeter, à mettre en valeur votre bien.
                </p>
            </div>
        </div>
    </div>


    <div class="card contact-card">
            <div class="card-body">
                <div class="container">
                    {% for message in app.flashes('success') %}
                        <div role='alert' class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="row">
                            <h1 class="text-center">Formulaire de contact</h1>
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn d-block mx-auto">Envoyer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
